@charset "utf-8";
/* CSS Document */
#header {
	width:100%;
}
#header > #nav,#header > .nav {
	width:100%;
}
#header > #nav {
	background-color:#eaeaea;
	border:#cacaca 1px solid;
}
#header > #nav .cont {
	width:16px;
	height:16px;
	background-color:#2598c7;
	line-height:16px;
	text-align:center;
	color:#FFF;
	float:left;
	margin:8px 0px 0px 5px;
}
#header > #nav ul,#header > .nav {
	width:1000px;
	margin: 0px auto;
}
#header > #nav li {
	list-style:none;
	float:right;
	line-height:32px;
	margin:0px 15px;
	padding:0px 0;
}
#header > #nav .current-color {
	color:#F00;
}
#header > #nav a,#header > #nav img {
	float:left;
}
#header > #nav .img {
	margin:14px 0px 0px 5px;
}
#header > #nav .icon {
	margin:8px 5px 0px 0px;
}

#header > .nav .img {
	margin:15px 0px 15px 10px;
	float:left;
}
#header > .nav ul {
	list-style:none;
	width:660px;
	float:right;
	margin:30px 0px 0px;
}
#header > .nav li {
	float:left;
}
#header > .nav li a {
	font-size:14px;
	line-height:24px;
	width:110px;
	display:inline-block;
	text-align:center;
	border-bottom:3px solid #00c7db;
}
#header > .nav ul .current {
	border-bottom:3px solid #f7922f;
	color:#00c7db;
}














